.photo-grid {
  display: flex;
  padding: 6.4rem 6.4rem 0 6.4rem;
  gap: 5rem;
}

.about-us h1 {
  font-size: 9.6rem;
  font-weight: 800;
  margin-bottom: 2.4rem;
}

.about-us p {
  font-size: 2rem;
  line-height: 1.6;
}

.container-gallery {
  flex-shrink: 0;
  width: 60%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  column-gap: 1rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.4s;
  border-radius: 6px;
}

.gallery__img:hover {
  transform: scale(1.1);
}

.gallery__item {
  overflow: hidden;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

/* FEATURED IN SECTION */

.containerfeatured {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* Mission Vission */
.section-missionvision {
  padding: 9.6rem;
}

.missionvisiongrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.mission-photo img,
.vision-photo img {
  width: 100%;
  border-radius: 12px;
}

.mission h2,
.vision h2 {
  font-size: 5.6rem;
  font-weight: 700;
}

.mission p,
.vision p {
  font-size: 2rem;
  line-height: 1.6;
}

/* Number Container */

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 8rem;
  margin-top: 1rem;
  color: #e68244;
  font-weight: 700;
}

.counter h2 {
  font-size: 2.4rem;
}

.icon i {
  opacity: 50%;
}

.text {
  font-size: 2.4rem;
  padding-top: 2rem;
}

.counter span {
  font-size: 6.4rem;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4rem;
  gap: 6rem;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}

/* Instagram Photos */

.section-instagram {
  padding: 9.6rem;
  text-align: center;
}

.instagram-photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}

.instagram-photos img {
  width: 100%;
  border-radius: 2px;
}
.iglink {
  display: inline-block;
  max-width: 13rem;
  margin: 4rem;
}

.iglink:link,
.iglink:visited {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  padding: 1.5rem;
  border-radius: 30px;
  background-color: #a5d6e4;
}

.iglink:hover,
.iglink:active {
  background-color: #57f1b1;
  color: #210a72;
}
