/* -------- Contact us section ------- */

.contact {
  height: 40vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.762),
      rgba(230, 125, 34, 0.202)
    ),
    url("../images/pet-accessories.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .text {
  margin: 1.6rem 0;
}

.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}

.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}

.contact-info span {
  display: block;
}

.contact-info span .icon {
  font-size: 4rem;
  padding-bottom: 0.5rem;
  color: black;
}

.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}

.contact-info .text {
  padding-top: 0.5rem;
}

.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}

.contact h3 {
  font-size: 7.2rem;
  font-weight: 700;
}

.contact h2 {
  font-size: 2.7rem;
  text-transform: uppercase;
  padding: 0.5rem 0;
  letter-spacing: 4px;
}

.contact-form {
  /* padding: 2rem 0; */
  border-top: 1px solid #c7c7c7;
  position: relative;
}

.contact-form form {
  padding-bottom: 2.6rem;
}

.contact-form form div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
}

.contact-form > div {
  margin: 0 auto;
  text-align: center;
}

.form-control {
  width: 100%;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 1.4rem;
  margin: 0.6rem 0;
  font-size: 1.2rem;
  outline: 0;
}

.form-control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.send-btn {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  background: #e68244;

  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.send-btn:hover,
.send-btn:active {
  background: #57f1b1;

  /* opacity: 0.5; */
}

.line {
  display: flex;
  align-items: center;
}

.line div {
  margin: 0 0.2rem;
}

.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background-color: paleturquoise;
  border-radius: 50%;
}

.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: paleturquoise;
  border-radius: 5px;
}
