.section-border {
  width: 40rem;
  opacity: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.product-header {
  justify-content: center;
  text-align: center;
}

.product-header h1 {
  font-size: 6.4rem;
  color: #e68244;
  font-weight: 700;
  margin-top: 5rem;
}

.product-header p {
  font-size: 2.4rem;
  margin: 2rem 0 6rem 0;
}

.main-header {
  justify-content: center;
  text-align: center;
}

.main-header h1 {
  font-size: 6.4rem;
  font-size: 6.4rem;
  color: #e68244;
  font-weight: 700;
}

.main-header p {
  font-size: 2.4rem;
  margin: 2rem;
  font-weight: 600;
}

.card-container {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  width: 120rem;
  gap: 3rem;
  margin-bottom: 10rem;
}

.card {
  border: none;
  border-radius: 1rem;
  overflow-y: hidden;
  padding: 2rem;
  width: 320px;
  height: 400px;
  margin: 2.1rem auto;
  box-shadow: 0 1.2rem 3.2rem #00000020;
}

.card__img {
  position: absolute;
  width: 250px;
  height: 300px;
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}

.card-details {
  transform: translateY(12rem);
  text-align: center;
  padding-top: 150px;
}

.card-title {
  font-size: 3.1rem;
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.card-price {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.card-description {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2.2rem;
  opacity: 0;
}

.card__button {
  background-color: #57f1b1;
  border-radius: 2rem;
  font-weight: 600;
  width: max-content;
  opacity: 0;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: 0.1s;
}

.card__button:hover {
  box-shadow: 0 18px 40px -12px rgba(242, 162, 12, 0.35);
}

.card__img,
.card-details,
.card-title,
.card-price,
.card-description {
  transition: 0.5s;
}

/* Hover card effect */
.card:hover .card__img {
  transform: translate(-0.1rem, -5rem);
}

.card:hover .card-details {
  transform: translateY(4.8rem);
}

.card:hover .card-description,
.card:hover .card__button {
  transition-delay: 0.2s;
  opacity: 1;
}

.allproducts:link,
.allproducts:visited {
  text-align: center;
  grid-column: -3 / -2;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #210a72;
  text-transform: uppercase;
  padding: 6rem 0rem 12rem 0rem;
}

.allproducts:hover,
.allproducts:active {
  color: #57f1b1;
}

/* ----- Horizontal Dotted Lines ----- */
.title_lines {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.title_lines img {
  width: 5rem;
}

.title_lines:before,
.title_lines:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 48%;
  height: 1px;
  content: "\a0";
  background-color: #cccccc;
  margin-left: 2%;
}
.title_lines:before {
  margin-left: -50%;
  text-align: right;
}
/* --x-- Horizontal Dotted Lines --x-- */

.choose-us {
  display: flex;
  gap: 10rem;
  margin-top: 5rem;
}

.details-choose {
  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  gap: 2rem;
}
.details-choose p {
  margin-top: 1rem;
}

.detailsimg {
  width: 5rem;
}

/* Products Categories */

.section-prodcat {
  margin: 0 auto;
  padding: 9.6rem;
}

.categories-prod {
  display: flex;
  gap: 4rem;
  justify-content: center;
  text-align: center;
}

.category-img {
  width: 70rem;
  border-radius: 18px;
}
